# Database
DB_HOST=mysql
DB_NAME=bishkek_courier
DB_USER=courierapp
DB_PASSWORD=courierpass123
DB_ROOT_PASSWORD=rootpassword

# Groq AI
GROQ_API_KEY=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
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# Backend
JWT_SECRET=my_super_secret_key_change_in_production_12345
APP_ENV=development

# AI Configuration
MIN_CONFIDENCE_THRESHOLD=0.75
MAX_IMAGE_SIZE_MB=10